In [ ]:
def multiply_list(items):
    tot = 1
    for x in items:
        tot *= x
    return tot
print(multiply_list([2,3,6]))

36

In [ ]:
l= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
l.sort()
import operator
l.sort(key=operator.itemgetter(1))
l

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
price = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(price, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for key in d1:
    if key in d2:
        d1[key] = d1[key] + d2[key]

d3 = {**d2, **d1}
print(d3)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}